In [1]:
print('hi 0807')

hi 0807

In [2]:
變數一=1

In [3]:
變數一

1

In [5]:
變數二=變數一

In [6]:
變數一,變數二

(1, 1)

In [8]:
早餐=100

In [9]:
午餐=200

In [10]:
餐費=早餐+午餐

In [11]:
print(餐費)

300

In [12]:
三天餐費=餐費*3

In [13]:
print(三天餐費)#沒啥用

900

In [14]:
d=2
e=3
f=4

In [15]:
d

2

In [16]:
e

3

In [17]:
f

4

In [18]:
'''

g=3

'''

'\n\ng=3\n\n'

In [1]:
週三氣溫=33

In [2]:
週四氣溫=32

In [3]:
週五氣溫=33

In [8]:
四天平均溫度=(週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [10]:
print((週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4)

32.75

In [9]:
print(四天平均溫度)

32.75

In [7]:
週六氣溫=33

In [30]:
週三氣溫,週四氣溫,週五氣溫,週六氣溫=37,34,32,36

In [32]:
print(四天平均溫度)

34.75

In [35]:
日花費=270

In [36]:
週花費=日花費*7

In [37]:
月花費=週花費*4

In [38]:
print(月花費)

7560