In [1]:
print('0820')

0820

In [2]:
a=range(5)

In [3]:
print(list(a))

[0, 1, 2, 3, 4]

In [4]:
b=range(1,6)

In [5]:
print(list(b))

[1, 2, 3, 4, 5]

In [6]:
c=range(1,10,2)

In [7]:
print(list(c))

[1, 3, 5, 7, 9]

In [8]:
d=range(10,1,-2)

In [9]:
print(list(d))

[10, 8, 6, 4, 2]

In [10]:
list1=[1,2,3,4,5]

In [11]:
print(list1)

[1, 2, 3, 4, 5]

In [47]:
list2=['香蕉','蘋果','橘子']

In [48]:
print(list2)

['香蕉', '蘋果', '橘子']

In [14]:
list3=[1,'香蕉',True]

In [15]:
print(list3)

[1, '香蕉', True]

In [17]:
print(list1[0])

1

In [18]:
print(list2[2])

橘子

In [20]:
print(list1[4])

5

In [21]:
print(list2[0])

香蕉

In [22]:
print(list2[1])

蘋果

In [23]:
print(list2[2])

橘子

In [24]:
print(list2[-1])

橘子

In [25]:
print(list2[-2])

蘋果

In [26]:
print(list1[-1])

5

In [27]:
print(list1[-4])

2

In [28]:
print(list1[-5])

1

In [29]:
list5=[["tom","1234"]],[["mary","abcd"]],["david","5678"]

In [30]:
print(list5[1])

['mary', 'abcd']

In [39]:
print(list5[0])

[['tom', '1234']]

In [41]:
print(list5[1])

mary

In [42]:
list1=[85,79,93]

In [44]:
print('國文成績:',list1[0],'分')
print('數學成績:',list1[1],'分')
print('英文成績:',list1[2],'分')

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [45]:
a,b,c=input().split()
list2=[a,b,c]
print('國文成績:',list2[0],'分')
print('數學成績:',list2[1],'分')
print('英文成績:',list2[2],'分')

國文成績: 60 分
數學成績: 60 分
英文成績: 60 分

In [49]:
list2=['香蕉','蘋果','橘子']
for s in list2:
    print(s,end=',')

香蕉,蘋果,橘子,

In [50]:
list3=[123,'apple',True]
for s in list3:
    print(s)

123
apple
True

In [51]:
scores=[85,79,93]
print(len(scores))

3

In [97]:
for i in range(len(scores)):
    print(scores[i])

85
93
79

In [54]:
list1=[85,79,93]
print('國文成績:',list1[0],'分')
print('數學成績:',list1[1],'分')
print('英文成績:',list1[2],'分')

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [57]:
list2=['1','Tom'],['2','Mary'],['3','Tony']
print('編號:',list2[0][0],'姓名:',list2[0][1])
print('編號:',list2[1][0],'姓名:',list2[1][1])
print('編號:',list2[2][0],'姓名:',list2[2][1])

編號: 1 姓名: Tom
編號: 2 姓名: Mary
編號: 3 姓名: Tony

In [144]:
a=input().split()
b=len(a)
for n in range(b):
    print(a[-n-1],end=' ')

cake banana apple

In [137]:
a,b,c=input().split()
a1=int(a)
b1=int(b)
c1=int(c)
for n in range(a1,b1,c1):
    print(n,end=',')

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,

In [141]:
a,b,c=input().split()
a1=int(a)
b1=int(b)
c1=int(c)
d=range(a1,b1,c1)
print(list(d))

[3, 4, 5, 6, 7]

56
7.483314773547883
7
奇數