In [1]:
a=float(input())
b=float(input())
c=a%b
print(str(c))

2.5

In [2]:
a=float(input())
b=float(input())
c=float(input())
d=(a+b)*c/2
print('t=%s b=%s h=%s area=%s'%(a,b,c,d))

t=2.0 b=5.0 h=4.8 area=16.8

In [3]:
a=int(input())
b=a//60
c=a%60
print('park time:',b,'h:',c,'m',sep='')
if 0<a<=60:
    print('pay:',20,' money',sep='')
elif 60<a<=420:
    print('pay:',20+(a//60)*40,' money',sep='')
else:
    print('pay:',300,' money',sep='')

park time:1h:9m
pay:60 money

In [4]:
a,b,c=input().split()
a1=int(a)
b1=int(b)
c1=int(c)
d=range(a1,b1,c1)
print(list(d))

[11, 18, 25, 32, 39, 46, 53, 60, 67, 74, 81, 88, 95]

In [5]:
a=int(input())
if a%4==0 and a%100!=0:
    print(a,'is leap year')
elif a%100==0 and a%400==0:
    print(a,'is leap year')
else:
    print(a,'is common year')

2100 is common year

In [6]:
a=int(input())
if a>=100:
    print('%s is error'%a)
elif 90<=a<100:
    print('%s is A'%a)
elif 80<=a<90:
    print('%s is B'%a)
elif 70<=a<80:
    print('%s is C'%a)
elif 60<=a<70:
    print('%s is D'%a)
elif 0<=a<60:
    print('%s is E'%a)
else:
    print('%s is error'%a)

-4 is error

In [7]:
a,b,c=input().split()
a1=int(a)
b1=int(b)
c1=int(c)
for n in range(a1,b1,c1):
    print(n,end=',')

-10,-8,-6,-4,-2,

In [8]:
n=int(input())
for a in range(1,n+1):
    print("*"*a)

*
**
***
****
*****
******
*******
********
*********
**********

In [9]:
a=int(input())
count=0
for j in range(a,10):
    
    for i in range(1,10):
        k=i*j
        print('%d*%d=%d'%(j,i,i*j),end=' ')
        count+=1
        if count%9==0:
            print()
    if j<a:
        break

7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [11]:
a1,b1=input().split()
a=int(a1)
b=int(b1)
for n in range(a,b+1):
    if n>100:
        d=[int(t) for t in str(n)]
        if d[2]**3+d[1]**3+d[0]**3==n:
            print(n,end=',')
        else:
            continue

370,371,407,